<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>77317761734-igfmt5nrm4b98ft8e11s4fmarq8pq4q1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77317761734-igfmt5nrm4b98ft8e11s4fmarq8pq4q1</string>
	<key>API_KEY</key>
	<string>AIzaSyBadUj1GSugG-cpKS79_Mq4B3UB3kbQnLY</string>
	<key>GCM_SENDER_ID</key>
	<string>77317761734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RB.Critiq</string>
	<key>PROJECT_ID</key>
	<string>critiq-ebeec</string>
	<key>STORAGE_BUCKET</key>
	<string>critiq-ebeec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:77317761734:ios:3e76f16efd009757</string>
	<key>DATABASE_URL</key>
	<string>https://critiq-ebeec.firebaseio.com</string>
</dict>
</plist>